<div class="sticky-parent">
  <div class="sticky">
    <div class="horizontal" id="horizontal">
      <div class="dim"><h1>Ssshhh</h1></div>
      <div class="dim" id="dot"><h2>...</h2></div>
    </div>
  </div>
</div>
<div class="boxs">
  <span>Hear wherever you are</span>
  <div class="inner-box">
    <div class="box1">
      <h1>Up to 45 dB</h1>
      <h5>Our strongest noise cancellation yet.</h5>
      <p>
        So you can go from quiet rooms to busy streets without hearing a thing
        (other than what's playing).
      </p>
    </div>
    <div class="box2">
      <h1>Smart Active Noise Cancellation</h1>
      <p>
        Ear (a) automatically checks for noise leakage between the earbud and
        your ear canal, then applies more noise cancellation to make up for it.
        So you receive the best possible noise cancellation. Happens every time
        you put them in.
      </p>
    </div>
  </div>
</div>
<section>
  <div class="adaptive-text">
    <div class="title-text">
      <h1>Adaptive ANC</h1>
    </div>
    <div class="title-des">
      <h5>
        Next-level escapism. Switch between 3 levels of noise cancellation. Or
        let Ear (a) take control. By selecting 'Adaptive' in the Nothing X app,
        Ear (a) automatically applies the right level of noise cancellation
        according to your surroundings in real time, so you don't have to.
      </h5>
    </div>
  </div>
  <div class="anc-video">
    <video
      muted
      autoplay
      loop
      src="https://cdn.shopify.com/videos/c/o/v/a6216e776a2246bab5357f309f6f2e69.mp4"
    ></video>
  </div>
</section>
<section>
  <div class="extraDeep-text">
    <div class="title-text">
      <h1>Extra deep, extra clear</h1>

      <h5>
        With a driver designed to protect each and every detail, high notes hit
        deeper and lows feel richer.
      </h5>
    </div>
    <div class="card-container">
      <div class="card1">
        <div class="cardItem">
          <h1>
            Powerful 11 mm driver <br />
            clear, rich, punchy
          </h1>
          <button>+</button>
        </div>
      </div>
      <div class="card2">
        <div class="cardItem">
          <h1>Bass Enhance algorithm <br />New depth</h1>
          <button>+</button>
        </div>
      </div>
      <div class="card3">
        <div class="cardItem">
          <h1>Hi-Res Wireless Audio Certified</h1>
          <button>+</button>
        </div>
      </div>
    </div>
  </div>
</section>
