<div class="gird-container">
  <h1>#WithNothing</h1>

  <h3>
    Judge for yourself. Here’s what our users have captured on Phone (2a).
  </h3>

  <div id="cssportal-grid">
    <div class="div" id="div2">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_7.jpg?v=1709461432&width=2000"
        alt=""
      />
    </div>
    <div class="div" id="div3">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_1_1d078e86-6e83-4852-83ba-a6851e681e41.jpg?v=1709537930&width=2000"
        alt=""
      />
    </div>
    <div class="div" id="div4">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_2_52ff43d3-08e7-4d96-82b7-5ce9ffce5abd.jpg?v=1709537937&width=2000"
        alt=""
      />
    </div>
    <div class="div" id="div5">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_3.jpg?v=1709461427&width=2000"
        alt=""
      />
    </div>
    <div class="div" id="div6">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_6.jpg?v=1709461428&width=2000"
        alt=""
      />
    </div>
    <div class="div" id="div7">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_5.jpg?v=1709461442&width=2000"
        alt=""
      />
    </div>
    <div class="div" id="div8">
      <img
        src="https://in.nothing.tech/cdn/shop/files/Frame_7_53fce829-2f9d-46d3-b5c7-c25001a06b1a.jpg?v=1709537933&width=2000"
        alt=""
      />
    </div>
  </div>
</div>
