<div class="phone-2a-conatiner">
  <div class="wrapper">
    <div class="text">
      <span>Phone (2a)</span>
    </div>
    <div class="phonsImg">
      <img
        [src]="currentImage.path"
        [style.width]="currentImage.width"
        alt=""
      />
    </div>
    <div class="phone-des">
      <div class="des1">
        <h1>Phone (2a)</h1>
        <h4>Powerfully unique</h4>
        <h6>"Phone (2a) is already 2024's phone of the year."</h6>
        <span>British GQ</span>
      </div>

      <div class="des1">
        <h1>Phone (2a)</h1>
        <h4>Powerfully unique</h4>
        <h6>
          "It's a no-brainer smartphone that anyone can love, whether your
          budget is small or large."
        </h6>
        <span>WIRED</span>
      </div>
      <div class="des1">
        <h1>Phone (2a)</h1>
        <h4>Powerfully unique</h4>
        <h6>
          "Fun design, colorful photos, strong performance, and masses of
          customization make it a brilliant buy"
        </h6>
        <span>Digital Trends</span>
      </div>
      <div class="des1">
        <h1>Phone (2a)</h1>
        <h4>Powerfully unique</h4>
        <h6>
          "A gorgeous display and terrific stamina in a uniquely stylish
          package."
        </h6>
        <span>Expert Reviews</span>
      </div>
    </div>
  </div>
</div>
<app-phone2a-all-in></app-phone2a-all-in>

<div class="gopro-container">
  <div class="video-text" id="video-text">
    <h1>Go. Pro.</h1>
    <h4>
      Co-engineered with MediaTek, the custom Dimensity 7200 Pro processor
      delivers the best performance with optimal power consumption.
    </h4>
  </div>
  <div class="video">
    <span id="go-title"> Go. Pro. </span>
    <video #productVideo muted>
      <source
        src="//in.nothing.tech/cdn/shop/videos/c/vp/44205b7357684e49b3ec44df23d98904/44205b7357684e49b3ec44df23d98904.HD-1080p-7.2Mbps-25368272.mp4?v=0"
        type="video/mp4"
      />
    </video>
  </div>
</div>

<app-camara-view></app-camara-view>
<app-zoom-out></app-zoom-out>
<app-image-slider></app-image-slider>
<app-img-grid></app-img-grid>



<!-- custom shopping bar -->
<div id="shopbar">
  <div class="shop-container">
    <div class="colors">
      <h5>Available Colors</h5>

      <div *ngFor="let image of images">
        <button
          (click)="setImage(image)"
          [ngStyle]="{ 'background-color': image.color }"
        >
          <span *ngIf="image.selected">✔</span>
        </button>
      </div>
    </div>
    <div class="rate">
      <span> ₹ 27,999.00 </span>
      <button><a routerLink="/login">SIGN UP</a></button>
    </div>
  </div>
</div>
