.phone-2a-conatiner {
  width: 100%;
}
.phone-2a-conatiner .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  align-items: center;
  justify-content: space-between;
}
.wrapper .phonsImg {
  width: 50% !important;

  align-items: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.phonsImg img {
  margin-left: 50rem;
}

.des1 {
  width: 400px !important;
  color: white;
  height: 100%;
  display: none;
}
.des1 h1 {
  font-size: 4rem;
}

.des1 h4 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.des1 h6 {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 2rem 0;
}
.des1 span {
  font-size: 1.2rem;
  font-weight: bold;
}
.text {
  font-family: nothing;
  left: 0;
  position: absolute;
}
.text span {
  color: white;
  font-size: 8rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.allIn {
  height: 130vh;
  overflow: hidden;
}
.gopro-container {
  width: 100%;

  position: relative;
}
.gopro-container #go-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  z-index: 9;
  transition: all 0.3s;
}

video {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.video {
  display: flex;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
}
.video-text h1 {
  font-size: 4rem;
}
.video-text h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 400px;
}

#shopbar {
  width: 100%;
  height: 80px;
  background: white;
  position: fixed;
  transition: bottom 0.3s;
  bottom: 0;
}

.shop-container {
  width: 80%;
  height: 100%;
  align-items: center;
  overflow: hidden;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.colors h5 {
  font-family: sans-serif;
  font-size: 1rem;
  margin-right: 2rem;
}
.colors button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: solid rgba(40, 38, 38, 0.551) 1px;
  border: none;
  border-radius: 50%;
  margin-right: 0.4rem;
  position: relative;
}
button span {
  position: absolute;
  top: 10px;
  right: 13px;
  font-size: 15px;
  color: rgba(255, 0, 0, 0.781);
}
.rate {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.rate span {
  font-size: 1.5rem;
}

.rate button {
  width: 300px;
  height: 60px;
  margin-left: 2rem;
  background: red;
  outline: none;

  border: none;
  border-radius: 30px;
}
.rate button a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 1025px) {
  .phone-2a-conatiner .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
  }
  .text {
    height: 200vh;
  }
  .wrapper .phonsImg {
    width: 100% !important;
  }

  .des1 h4 {
    margin: 0.5rem 0;
  }
  .des1 h6 {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 737px) {
  .phone-2a-conatiner .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
  }
  .phone-2a-conatiner {
    height: inherit !important;
  }

  .text {
    position: absolute;
    left: 0;
    top: 10rem;
  }
  .phone-des .des1,
  .des2,
  .des3,
  .des4 {
    padding-left: 2rem;
    margin-bottom: 2rem;
    color: white;
  }
  .text span {
    font-size: 4rem !important;
  }
  .wrapper {
    height: inherit;
    padding: 0 !important;
    width: 100% !important;
  }
  .phonsImg {
    width: 100% !important;
  }
  .phonsImg img {
    margin-left: 0 !important;
  }
  .gopro-container {
    height: 100vh;
  }
  .video {
    width: 100% !important;
    overflow: hidden;
    padding: 0 2rem;
    justify-content: center;
    background-color: #000;
    height: 100% !important;
   
  }
  .video video {
    width: 900px !important;
    height: 100% !important;
  }
  .video-text {
    overflow: hidden;
   
 left: 51%;
    top: 20%;
    width: 80%;
  }
  .video-text h4{
    width: 80%;
 
    font-size: 1rem;
  }

  #shopbar {
    height: 140px;
    overflow: hidden;
  }

  .colors {
    width: 50%;
    display: flex;
    height: 100%;

    margin-top: -5rem;
  }
  .color1,
  .color2,
  .color3,
  .color4 {
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
  }

  .colors h5 {
    display: none;
  }

  .rate {
    width: 50%;
    height: 100%;
    flex-direction: column;
  }
  .rate span {
    font-size: 1.5rem;
    margin-top: -5rem;
  }

  .rate button {
    width: 280px;

    position: absolute;
    bottom: 0.5rem;
    left: 10%;
  }
  .rate button a {
    font-size: 1rem;
  }
}
