<section>
  <div class="section__content">
    <svg>
      <text
        class="dots"
        x="50%"
        y="50%"
        dominant-baseline="middle"
        text-anchor="middle"
      >
        ..
      </text>
      <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
        Great. Shot.
      </text>
    </svg>
  </div>
</section>
<section>
  <img
    src="https://in.nothing.tech/cdn/shop/files/Desktop_BA_AERO_210-min_1_1_1901x.png?v=1715328155"
    alt=""
  />

  <div class="section__content">
    <div class="div1">
      <h1>Great. Shot.</h1>
      <p>
        Top-tier hardware and software come together to prove that better
        quality isn't more cameras.
      </p>
    </div>

    <div class="div2">
      <h6>Great Ultra-wide sensor</h6>
      <hr />

      <h1>50 MP</h1>
      <p>Ultra-wide camera</p>
      <h1>114º FOV</h1>
      <p>See the bigger picture</p>
    </div>

    <div class="div3">
      <h6>Main sensor</h6>
      <hr />

      <h1>50 MP</h1>
      <p>Main camera</p>
      <h1>OIS & EIS</h1>
      <p>Extra steady shots, everytime</p>
    </div>
  </div>
</section>
