.main {
  position: relative;
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
h1 {
  width: 70%;
  margin: 2rem 0;
  font-size: 4.6rem;
  color: white;
}
h3 {
  width: 70%;
  margin: 1rem 0rem 2rem 0rem;
  font-size: 1.6rem;
  color: white;
}

.split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.split p {
  width: 70%;
  margin: 2rem 0;
  font-size: 1.6rem;
  color: white;
}
@media screen and (min-width: 767px) {
  .split p {
    flex-basis: 48%;
  }
}
nav.social {
  display: inline-block;
  padding: 0;
  margin-bottom: 18px;
}
nav.social li {
  list-style: none;
  float: left;
}
nav.social li a {
  padding: 5px;
}
nav.social li:first-child a {
  padding-left: 0;
}
.container {
  position: relative;
  width: 100%;
}
.container .inner {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
}
.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  /* margin: 20px 0; */
  background-color: rgb(72, 28, 28);
}
.comparison-slider-wrapper .comparison-slider {
  position: relative;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider > img {
  
  display: block;
}
.comparison-slider-wrapper .comparison-slider .overlay {
  display: none;
  position: absolute;

  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  color: #ddd;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .comparison-slider-wrapper .comparison-slider .overlay {
    display: block;
  }
  .split p{
    width: 100%;
  }
   
  
  .inner h1{
    width: 100%;
    font-size: 3.5rem;

  }
  .inner h3{
    width: 100%;
    font-size: 1.5rem;

  }
  .comparison-slider img{
 
  }
}
.comparison-slider-wrapper .comparison-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
.comparison-slider-wrapper .comparison-slider .resize > img {
  display: block;
}
.comparison-slider-wrapper .comparison-slider .resize .overlay {
  right: auto;
  left: 20px;
  text-align: left;
}
.comparison-slider-wrapper .comparison-slider .divider {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.2);
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
}
.comparison-slider-wrapper .comparison-slider .divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -9px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
}
