<div class="main">
  <div class="container">
    <div class="inner">
      <h1>True. Life.</h1>

      <h3>
        Explore our TrueLens Engine: advanced computational photography
        algorithms that bring to life intricate details in each and every shot.
      </h3>

      <div class="comparison-slider-wrapper">
        <div class="comparison-slider">
          <div class="overlay">And I am the <strong>after</strong> image.</div>
          <img
            src="https://in.nothing.tech/cdn/shop/files/After-3_1720x.jpg?v=1709461428"
            alt="marioPhoto 2"
          />
          <div class="resize">
            <div class="overlay">I am the <strong>before</strong> image.</div>
            <img
              src="https://in.nothing.tech/cdn/shop/files/Before-2_1720x.jpg?v=1709461427"
              alt="marioPhoto 1"
            />
          </div>
          <div class="divider"></div>
        </div>
      </div>

      <div class="split">
        <p>
          Co-developed with Google. For deeper, more accurate contrasts between
          highlight and shadows, your camera captures 8 frames at different
          exposure levels in RAW format for maximum details. It then adjusts the
          brightness of each pixel up to 5 times to display the most
          true-to-life result.
        </p>
      </div>
    </div>
  </div>
</div>



