<div class="main">
  <div class="container">
    <div class="inner">
      <h1>True. Life.</h1>

      <h3>
        Explore our TrueLens Engine: advanced computational photography
        algorithms that bring to life intricate details in each and every shot.
      </h3>

      <div id="comparison">
        <figure>
          <div id="divisor"></div>
        </figure>
        <input
          type="range"
          min="0"
          max="100"
          value="50"
          id="slider"
          oninput="moveDivisor()"
        />
      </div>

      <div class="split">
        <p>
          Co-developed with Google. For deeper, more accurate contrasts between
          highlight and shadows, your camera captures 8 frames at different
          exposure levels in RAW format for maximum details. It then adjusts the
          brightness of each pixel up to 5 times to display the most
          true-to-life result.
        </p>
      </div>
    </div>
  </div>
</div>
