<div class="store-container">
  <div class="wrapper">
    <div class="main">
      <div class="img">
        <img
          src="https://in.nothing.tech/cdn/shop/files/2560x2040_93272738-063f-4f9d-a5b0-1d82894b1c67.jpg?v=1709388881&width=1494"
          alt=""
        />
      </div>
      <div class="details d-1">
        <h1>Phone (2a)</h1>
        <h6>Powerfully unique</h6>
        <p>from ₹ 23,999.00</p>
        <button>Learn More</button>
      </div>
    </div>
    <div class="main">
      <div class="img">
        <img
          src=" https://in.nothing.tech/cdn/shop/files/Phone-2-desktop-fotor-20230710124751_2_cd3fa297-4ccb-44e2-9bde-54a3d7916906.jpg?v=1688970887&width=1494"
          alt=""
        />
      </div>
      <div class="details d-2">
        <h1>Phone (2)</h1>
        <h6>Come to the bright side</h6>
      </div>
    </div>
    <div class="audio">
      <h1>Audio.</h1>
      <div class="row">
        <div class="card">
          <div class="img">
            <img
              src="https://in.nothing.tech/cdn/shop/files/store-ear-a.jpg?v=1715411051&width=1660"
              alt=""
            />
          </div>
          <h5>Ear (a) ₹ 7,999.00</h5>
        </div>
        <div class="card">
          <div class="img">
            <img
              src="https://in.nothing.tech/cdn/shop/files/store-ear.jpg?v=1715411058&width=1660"
              alt=""
            />
          </div>
          <h5>Ear ₹ 11,999.00</h5>
        </div>
      </div>
    </div>
    <div class="accessories">
      <h1>Accessories.</h1>
      <div class="row">
        <div class="card">
          <div class="img">
            <img
              src="https://in.nothing.tech/cdn/shop/files/CASE_CLEAR.jpg?v=1657533506&width=1069"
              alt=""
            />
          </div>
          <h5>Phone (1) Case</h5>
        </div>
        <div class="card">
          <div class="img">
            <img
              src="https://in.nothing.tech/cdn/shop/files/SCREEN-PROTECTOR.png?v=1669003386&width=600"
              alt=""
            />
          </div>
          <h5>Phone (1) Screen Protector</h5>
        </div>
        <div class="card">
          <div class="img">
            <img class="charger-img"
              src="https://in.nothing.tech/cdn/shop/files/IN_POWER_45_DESKTOP.jpg?v=1657612983&width=1244"
              alt=""
            />
          </div>
          <h5>Power (45W)</h5>
        </div>
      </div>
    </div>
  </div>
</div>
