<div class="footer-container">
  <div class="inner-container">
    <div class="main-box">
      <div class="links-box">
        <div class="products">
          <span> Products</span>
          <a href="">Phone(2a)</a>
          <a href="">Phone(2)</a>
          <a href=""> Ear(a)</a>
          <a href=""> Ear</a>
          <a href="">Accessories</a>
          <a href=""> Apparel</a>
        </div>
        <div class="company">
          <span> Company</span>
          <a href="">About us</a>
          <a href="">Careers</a>
          <a href=""> Community</a>
          <a href="">Sustainability</a>
          <a href="">Business enquiry</a>
          <a href="">Press contact</a>
        </div>
        <div class="support">
          <span> Support</span>
          <a href="">Support centre</a>
          <a href="">Contact us</a>
          <a href="">Contact us via WhatsApp</a>
          <a href="">Service centre</a>
          <a href="">E-waste management</a>
          <a href="">Find a store</a>
        </div>
      </div>
      <div class="input-box">
        <div class="mail-box">
          <span>JOIN OUR MAILING LIST</span>
          <div class="input-div">
            <input type="email" name="" id="" placeholder="ENTER ADDRESS" />
            <svg
              width="20"
              height="19"
              viewBox="0 0 9 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.1 2.8C6.344 2.8 5.75 2.206 5.75 1.45C5.75 0.693999 6.344 0.0999987 7.1 0.0999987C7.856 0.0999987 8.45 0.693999 8.45 1.45C8.45 2.206 7.856 2.8 7.1 2.8ZM4.4 6.85C3.644 6.85 3.05 6.256 3.05 5.5C3.05 4.744 3.644 4.15 4.4 4.15C5.156 4.15 5.75 4.744 5.75 5.5C5.75 6.256 5.156 6.85 4.4 6.85ZM1.7 10.9C0.944 10.9 0.35 10.306 0.35 9.55C0.35 8.794 0.944 8.2 1.7 8.2C2.456 8.2 3.05 8.794 3.05 9.55C3.05 10.306 2.456 10.9 1.7 10.9ZM4.4 14.95C3.644 14.95 3.05 14.356 3.05 13.6C3.05 12.844 3.644 12.25 4.4 12.25C5.156 12.25 5.75 12.844 5.75 13.6C5.75 14.356 5.156 14.95 4.4 14.95ZM7.1 19C6.344 19 5.75 18.406 5.75 17.65C5.75 16.894 6.344 16.3 7.1 16.3C7.856 16.3 8.45 16.894 8.45 17.65C8.45 18.406 7.856 19 7.1 19Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-links">
    <div class="f-inner-links">
      <a href=""> Privacy policy</a>
      <a href=""> Warranty policy</a>
      <a href=""> Acceptable use policy</a>
      <a href=""> User agreement</a>
    </div>
    <div class="f-icons">
      <div class="icons">
        <div class="icon">
          <img src="../../../assets/icons/instagram.png" alt="" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/threads (1).png" alt="" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/twitter.png" alt="" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/youtube.png" alt="" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/tik-tok.png" alt="" />
        </div>
        <div class="icon">
          <img src="../../../assets/icons/discord.png" alt="" />
        </div>
      </div>

      <a href="">India</a>
    </div>
  </div>
</div>
