<header class="header" id="header">
  <nav class="navbar container">
    <div class="navbar-inner">
      <a routerLink="/home" class="brand">Nothing (R)</a>
    </div>
    <div class="navbar-block" id="menu">
      <ul class="menu" >
        <li class="menu-item dropdown">
          <span class="dropdown-toggle menu-link">
            Phone <i class="bx bx-chevron-down"></i>
          </span>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <div class="dropdown-group">
                <div class="dropdown-title">
                  <span class="text-base font-medium">Phones</span>
                </div>
                <ul class="dropdown-items">
                  <li>
                    <a id="menuLinks" routerLink="/phone-2a" class="dropdown-link">
                      Phone (2a)</a
                    >
                  </li>
                </ul>
              </div>
              <div class="dropdown-group">
                <div class="dropdown-title">
                  <span class="text-base font-medium">Accessories</span>
                </div>
                <ul class="dropdown-items">
                  <li>
                    <a id="menuLinks" routerLink="/phone-2a-case" class="dropdown-link">
                      Phone(2a) Case
                    </a>
                  </li>
                  <li>
                    <a
                      routerLink="/phone-2a-screen-protector"
                      class="dropdown-link"
                      >Phone(2a) Screen Protector</a
                    >
                  </li>
                  <li>
                    <a routerLink="/power-45w" class="dropdown-link"
                      >Power(45 W)
                    </a>
                  </li>
                  <li>
                    <a routerLink="/cable" class="dropdown-link"
                      >Cable(c-c) 100 cm
                    </a>
                  </li>
                  <li>
                    <a routerLink="/cable" class="dropdown-link"
                      >Cable(c-c) 180 cm
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="menu-item dropdown">
          <span class="dropdown-toggle menu-link">
            Ears <i class="bx bx-chevron-down"></i>
          </span>
          <div class="dropdown-content">
            <div class="dropdown-column">
              <div class="dropdown-group">
                <div class="dropdown-title">
                  <span class="text-base font-medium">Earbuds</span>
                </div>
                <ul class="dropdown-items">
                  <li>
                    <a id="menuLinks" routerLink="/ear-2" class="dropdown-link"> Ear 2</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="menu-item">
          <a href="https://in.cmf.tech/" class="menu-link">CMF</a>
        </li>
        <li class="menu-item">
          <a routerLink="/store" class="menu-link">Store</a>
        </li>
        <li class="menu-item"><a href="#" class="menu-link">Community</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Support</a></li>
      </ul>
    </div>
    <div class="icon-burger">
      <i class="bx bx-user profile" routerLink="/login"></i>
      <div class="burger" id="burger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
    </div>
  </nav>
</header>
