.ear-a-conatiner {
  width: 100%;

  height: 80vh;
 
}
.ear-a-conatiner .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f0f4;
  align-items: center;
  justify-content: space-between;
}
.wrapper .earbods {
  width: 50%;
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content:  center;
}
.earbods img{
  margin-left: 15rem;
}
.des1 {
  width: 400px !important;
  color: rgb(0, 0, 0);
  margin-top: 2rem;

  height: 100%;
  display: block;
}
.des1 h1 {
  font-size: 4rem;
}

.des1 h4 {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.des1 h6 {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 2rem 0;
}
.des1 img {
  width: 70px;
}
.text {
  font-family: nothing;
}
.text span {
  color: rgb(0, 0, 0);
  font-size: 8rem;

  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#shopbar {
  width: 100%;
  height: 80px;
  z-index: 9999;
  background: white;
  position: fixed;
  transition: bottom 0.3s;
  bottom: 0;
}

.shop-container {
  width: 80%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.colors {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.small-images {
  display: flex;
}
.colors h5 {
  font-size: 1.3rem;
  margin-right: 2rem;
}
.colors button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: solid rgba(40, 38, 38, 0.551) 1px;
  border: none;
  border-radius: 50%;
  margin-right: 0.4rem;
  position: relative;
}
button span {
  position: absolute;
  top: 10px;
  right: 13px;
  font-size: 15px;
  color: rgb(250, 53, 53);
}

.rate {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.rate span {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.rate button {
  width: 300px;
  height: 60px;
  margin-left: 2rem;
  background: red;
  outline: none;
  border: none;
  border-radius: 30px;
}
.rate button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 1025px) {
  .ear-a-conatiner .wrapper {
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
  }
  .text {
    position: absolute;
    left: 0;
  }
  .text span {
    font-size: 6rem !important;
  }

  .earbods {
    height: 100%;
  }
  .earbods img {
    margin-left: 0 !important ;
  }

  .des1 h4 {
    margin: 0.5rem 0;
  }
  .des1 h6 {
    margin: 1rem 0;
  }
}

.slider-container {
  width: 100%;
  padding: 3rem 0;
  height: 120vh;
  background: #000 !important;
}
.slider-title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem !important;

  h1 {
    color: white;
    font-size: 4.5rem;
  }
}
.slider {
  width: 100%;
}
.slider-btn {
  width: 80%;
  margin-top: 2rem !important;
  margin: 0 auto;
  display: flex;

  justify-content: flex-end;
}
.scroll-arrow {
  width: 55px;
  height: 55px;
  display: inline-block;
  position: relative;

  margin-left: 2.5rem;
  border-radius: 50%;
  cursor: pointer;

  background-color: #f2f0f4;

  font-size: 35px;
  transition: 0.2s;
}
.scroll-arrow:hover {
  transition: 0.2s;
  opacity: 1;
}
.scroll-arrow svg {
  color: rgb(0, 0, 0);
  margin: 1rem 0 0 1rem;
}

#scroll-right svg path {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
ul {
  width: 98%;
  scroll-behavior: smooth;
  display: inline-block;

  position: relative;

  vertical-align: middle;

  overflow-x: scroll;

  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
ul::-webkit-scrollbar {
  display: none;
}
li {
  list-style: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 700px;
  overflow: hidden;
  margin: 0 0.6rem;
  transition: 0.2s;
}
li img {
  width: 100%;
}
li video {
  width: 100%;
}

.slider-text {
  width: 90%;

  overflow: hidden;
}
li p {
  overflow: hidden;
  color: white;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.3rem;
}

@media screen and (max-width: 737px) {
  .ear-a-conatiner .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
  }
  .ear-a-conatiner {
    height: inherit !important;
  }
  .text {
    position: absolute;
    left: 0;
    top: 10rem;
  }
  .des1 {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  .text span {
    font-size: 3rem !important;
  }
  .wrapper {
    height: inherit;
    padding: 0 !important;
    width: 100% !important;
  }
  .earbods {
    width: 100% !important;
  }
  .earbods img {
    margin-left: 0 !important;
  }
  .slider-container {
    height: inherit;
  }
  .slider-title {
    width: 95%;
  }
  .slider-title h1 {
    font-size: 3rem;
    padding-left: 2rem;
  }
  .slider {
    width: 95%;
    margin: 0 auto;
  }
  .scroll-arrow {
    margin: 0;
  }
  #scroll-left {
    margin-right: 1rem;
  }

  .slider ul li {
    width: 500px;
  }

  .slider-btn {
    width: 100%;
    justify-content: center;
  }

  #shopbar {
    height: 140px;
  }

  .colors {
    width: 50%;
    display: flex;
    height: 100%;

    margin-top: -5rem;
  }

  .colors h5 {
    display: none;
  }

  .rate {
    width: 50%;
    height: 100%;
    flex-direction: column;
  }
  .rate span {
    font-size: 1.5rem;
    margin-top: -5rem;
  }

  .rate button {
    width: 280px;

    position: absolute;
    bottom: 0.5rem;
    left: 10%;
  }
  .rate button a {
    font-size: 1rem;
  }
}
