<div class="home-container">
  <div class="wrapper">
    <div class="main">
      <div class="text">
        <span>CMF by Nothing</span>
      </div>
      <div class="img">
        <img
          src="https://in.nothing.tech/cdn/shop/files/Homepage_-_Desktop_-_1560x2040_801a445f-c46b-472c-8c85-0f69c6401306_1292x.jpg?v=1720446003"
          alt=""
        />
      </div>
      <div class="details d-1">
        <h1>CMF by Nothing</h1>
        <h6>Wonderful by design.</h6>
        <p>Say hello to CMF Phone 1, Watch Pro 2 and Buds Pro 2.</p>
        <button>Learn More</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span> Community Edition</span>
      </div>
      <div class="img">
        <img
          src=" https://in.nothing.tech/cdn/shop/files/desktop_1cd17d59-d582-4ee1-9687-3ba0ae8c90c6_1292x.jpg?v=1717396972"
          alt=""
        />
      </div>
      <div class="details d-2">
        <h1>Community Edition</h1>

        <h6>Co. Creation.</h6>
        <p>
          An industry first co-creation project empowering our community to
          build a smartphone of their own imagination. Design, submit and vote
          for the (2a) that you want to see go into production.
        </p>
        <button>Learn More</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span class="m-4">Special Edition</span>
      </div>
      <div class="img">
        <img
          src="  https://in.nothing.tech/cdn/shop/files/2560x2040_c94fc8ad-eaa5-41a2-ae52-f4f89b84da03_1292x.jpg?v=1716884403"
          alt=""
        />
      </div>
      <div class="details d-3">
        <h1>Phone (2a) Special Edition</h1>

        <p>
          A story of colour, told through our most powerfully unique smartphone
          yet.
        </p>
        <button>Learn More</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span>Phone (2a)</span>
      </div>
      <div class="img">
        <img
          src="   https://in.nothing.tech/cdn/shop/files/phone-2a-blue-desktop_1292x.jpg?v=1714298780"
          alt=""
        />
      </div>
      <div class="details d-4">
        <h1>Phone (2a)</h1>
        <h6>A new icon is born. And now, a new edition.</h6>
        <p>Phone (2a) Blue is here. Designed exclusively for India.</p>
        <button>BUY NOW ON FLIPKART</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span>Ear</span>
      </div>
      <div class="img">
        <img
          src="  https://in.nothing.tech/cdn/shop/files/ear-desktop_1292x.jpg?v=1713100358"
          alt=""
        />
      </div>
      <div class="details d-5">
        <h1>Ear</h1>
        <h6>Sound, evolved.</h6>
        <p>Our best-ever audio experience..</p>
        <button>LEARN MORE</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span>Ear (a)</span>
      </div>
      <div class="img">
        <img
          src="https://in.nothing.tech/cdn/shop/files/ear-a-desktop_1292x.jpg?v=1713100357"
          alt=""
        />
      </div>
      <div class="details d-6">
        <h1>Ear (a)</h1>
        <h6>Let’s play.</h6>
        <p>Made for every part of every day.</p>
        <button>LEARN MORE</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span>   Developer </span>
      </div>
      <div class="img">
        <img
          src="  https://in.nothing.tech/cdn/shop/files/2560_x_2050_1292x.png?v=1709388882"
          alt=""
        />
      </div>
      <div class="details d-7">
        <h1>Glyph Developer Kit</h1>
        <h6>
          Introducing the Glyph Developer Kit. Your opportunity to integrate
          apps with the iconic Glyph Interface.
        </h6>
        <p>API key registration is now open.</p>
        <button>LEARN MORE</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <span> Phone (2) </span>
      </div>
      <div class="img">
        <img
          src="  https://in.nothing.tech/cdn/shop/files/phone-2-launch_1292x.jpg?v=1689069054"
          alt=""
        />
      </div>
      <div class="details d-8">
        <h1>Phone (2)</h1>
        <h6>A new era. Where iconic design meets premium performance.</h6>
        <p>Come to thet side.</p>
        <button>SHOP ON FLIPKART</button>
      </div>
    </div>
    <div class="main-text">
      <div class="text1">
        <h1>Wallpaper*</h1>
        <h5>“A radical reinterpretation of mobile tech”</h5>
      </div>
      <div class="text1">
        <h1>Highsnobiety</h1>
        <h5>"Boundary-pushing aesthetics"</h5>
      </div>
      <div class="text1">
        <h1>GQ</h1>
        <h5>“The most hyped tech company in years”</h5>
      </div>
    </div>
  </div>
</div>
