<div class="all-in-conatiner">
  <h1>All. In.</h1>
  <div class="row">
    <div class="grid-container">
      <div class="column">
        <div class="card c1">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/Bento_Box_8-core_4nm_Gen2_700x.jpg?v=1709461420"
          />
          <p>MediaTek Dimensity 7200 Pro 5G</p>
          <h6>
            8-core <br />
            4nm <br />
            Gen 2
          </h6>
        </div>
        <div class="card c2">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/yellow_background_700x.jpg?v=1716886673"
          />
          <span>
            1,300 <br />
            Nits</span
          >
          <span> Peak Brightness</span>
        </div>
      </div>

      <div class="column">
        <div class="card c3">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/black_background_700x.jpg?v=1709461422"
          />
          <span>
            Nothing <br />
            OS 2.5</span
          >
          <span> Powered By Android 14</span>
        </div>

        <div class="card c4">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/Bento_Box_120_Hz_Display_700x.jpg?v=1709461421"
          />
          <span> 120 Hz</span>
          <span> 10-bit flexible AMOLED display</span>
        </div>
        <div class="card c5">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/red_background_700x.jpg?v=1709461422"
          />

          <span>
            Designed <br />
            in London</span
          >
        </div>
      </div>
      <div class="column">
        <div class="card c6">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/Bento_Box_-_32_MP_Front_Camera_700x.jpg?v=1709461421"
          />
          <span> 32 MP</span>
          <span> Front Camera</span>
        </div>

        <div class="card c7">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/Bento_Box_Iconic_Glyph_Interface_2_700x.jpg?v=1709461422"
          />
          <span>  Glyph Interface</span>
          <span>15 innovative functions</span>
        </div>

        <div class="card c8">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/Bento_Box_-_5000mAh_Battery_05e16d1b-0f74-41e6-8180-18e5d92e8803_700x.jpg?v=1709461421"
          />
          <span> 500 mAh <br>
          Battery
          </span>
          <span>Up to 29 hours video playback*</span>
        </div>
      </div>
      <div class="column">
        <div class="card c9">
          <img
            src="https://in.nothing.tech/cdn/shop/files/Bento_Box_Dual_50mp_-_Bauhaus_700x.png?v=1716886656"
          />
          <span>Dual 50 <br>
          MP
          </span>
          <span>  Main and ultra-wide cameras</span>
        </div>
        <div class="card c10">
          <img
            src=" https://in.nothing.tech/cdn/shop/files/black_background_700x.jpg?v=1709461422"
          />
          <span>20 GB <br>
          RAM</span>
          <span>12 GB + 8 GB RAM Booster</span>
        </div>
      </div>
    </div>
  </div>










 
 
















</div>
