<div class="phone-case-container">
  <div class="wrapper">
    <div class="main">
      <div class="text">
        <span> Cable (c-c)</span>
      </div>
      <div class="img">
        <img
          src=" https://in.nothing.tech/cdn/shop/products/BA_ALAK_240_1600x2160_b61b7711-710a-42f0-9f60-f33c0a6f5480_1292x.png?v=1688651343"
          alt=""
        />
      </div>
      <div class="details d-1">
        <h1>Cable (c-c)</h1>
        <ul>
          <li>Transparent design</li>
          <li>Supports up to 60W high-speed charging</li>
          <li>Up to 480 Mbps data transfer speed</li>
          <li>100 cm length comes in the box with Phone (2)</li>
        </ul>
        <div class="length">
          <span> Available Length</span>
          <div class="length-btns">
            <button>100 cm</button>
            <button>180 cm</button>
          </div>
        </div>
        <div class="price">
          <span>Price:</span>
          <span> ₹ 999.00</span>
        </div>
        <button routerLink="/login" class="signup-btn">SIGN UP</button>
        <hr />
        <a
          target="_blank"
          href="https://www.flipkart.com/nothing-usb-type-c-cable-1-m-c306/p/itmabc43a614ca65"
          >Buy now from Flipkart</a
        >
      </div>
    </div>
    <div class="main">
      <div class="img-slider">
        <div class="slides" [style.transform]="transformStyle">
          <div class="slide" *ngFor="let image of images">
            <img [src]="image" alt="Slider image" />
          </div>
        </div>

        <button (click)="prevSlide()">
          <svg
            width="20"
            height="19"
            viewBox="0 0 9 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.1 2.8C6.344 2.8 5.75 2.206 5.75 1.45C5.75 0.693999 6.344 0.0999987 7.1 0.0999987C7.856 0.0999987 8.45 0.693999 8.45 1.45C8.45 2.206 7.856 2.8 7.1 2.8ZM4.4 6.85C3.644 6.85 3.05 6.256 3.05 5.5C3.05 4.744 3.644 4.15 4.4 4.15C5.156 4.15 5.75 4.744 5.75 5.5C5.75 6.256 5.156 6.85 4.4 6.85ZM1.7 10.9C0.944 10.9 0.35 10.306 0.35 9.55C0.35 8.794 0.944 8.2 1.7 8.2C2.456 8.2 3.05 8.794 3.05 9.55C3.05 10.306 2.456 10.9 1.7 10.9ZM4.4 14.95C3.644 14.95 3.05 14.356 3.05 13.6C3.05 12.844 3.644 12.25 4.4 12.25C5.156 12.25 5.75 12.844 5.75 13.6C5.75 14.356 5.156 14.95 4.4 14.95ZM7.1 19C6.344 19 5.75 18.406 5.75 17.65C5.75 16.894 6.344 16.3 7.1 16.3C7.856 16.3 8.45 16.894 8.45 17.65C8.45 18.406 7.856 19 7.1 19Z"
              fill="currentColor"
            ></path>
          </svg>
        </button>
        <button (click)="nextSlide()">
          <svg
            width="20"
            height="19"
            viewBox="0 0 9 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.1 2.8C6.344 2.8 5.75 2.206 5.75 1.45C5.75 0.693999 6.344 0.0999987 7.1 0.0999987C7.856 0.0999987 8.45 0.693999 8.45 1.45C8.45 2.206 7.856 2.8 7.1 2.8ZM4.4 6.85C3.644 6.85 3.05 6.256 3.05 5.5C3.05 4.744 3.644 4.15 4.4 4.15C5.156 4.15 5.75 4.744 5.75 5.5C5.75 6.256 5.156 6.85 4.4 6.85ZM1.7 10.9C0.944 10.9 0.35 10.306 0.35 9.55C0.35 8.794 0.944 8.2 1.7 8.2C2.456 8.2 3.05 8.794 3.05 9.55C3.05 10.306 2.456 10.9 1.7 10.9ZM4.4 14.95C3.644 14.95 3.05 14.356 3.05 13.6C3.05 12.844 3.644 12.25 4.4 12.25C5.156 12.25 5.75 12.844 5.75 13.6C5.75 14.356 5.156 14.95 4.4 14.95ZM7.1 19C6.344 19 5.75 18.406 5.75 17.65C5.75 16.894 6.344 16.3 7.1 16.3C7.856 16.3 8.45 16.894 8.45 17.65C8.45 18.406 7.856 19 7.1 19Z"
              fill="currentColor"
            ></path>
          </svg>
        </button>
      </div>
      <div class="details d-2">
        <h1>Speedy</h1>
        <p>
          Made just for Phone (2a). For ultra-fast, ultra-responsive touch
          sensitivity. 9H high-hardness tempered glass delivers scratch and drop
          resistance. Super-fast Finger Unlock, with special oil coating to
          minimise fingerprints. Comes with a dust-free cleaning cloth, dust
          sticker, scraping card and applicator for easy application.
        </p>
      </div>
    </div>
    <div class="related-products">
      <h1>Related Products.</h1>
      <div class="row">
        <div class="card">
          <div class="img">
            <img
              src="https://in.nothing.tech/cdn/shop/files/IN_POWER_45_DESKTOP.jpg?v=1657612983&width=1244"
              alt=""
            />
          </div>
          <h5>Power (45W)</h5>
        </div>
        <div class="card">
          <div class="img">
            <img
              src=" https://in.nothing.tech/cdn/shop/files/phone-2-screen-protector_caddcf63-f723-4d9d-aaa9-97aa2ce9155a.png?v=1690446281&width=1069"
              alt=""
            />
          </div>
          <h5>Phone (2) Screen Protector ₹ 999.00</h5>
        </div>
        <div class="card">
          <div class="img">
            <img
              src=" https://in.nothing.tech/cdn/shop/products/case_1292x.png?v=1709369559"
              alt=""
            />
          </div>
          <h5>Phone (2a) Case ₹ 999.00</h5>
        </div>
        <div class="card">
          <div class="img">
            <img
              src=" https://in.nothing.tech/cdn/shop/files/phone-2_2d171fe3-22b1-4b9a-b71f-85bb9b931043.png?v=1690446290&width=1069"
              alt=""
            />
          </div>
          <h5>Phone (2) ₹ 49,999.00</h5>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="img">
            <img
              src=" https://in.nothing.tech/cdn/shop/files/PHONE_1.jpg?v=1657533484&width=1069"
              alt=""
            />
          </div>
          <h5>Phone (1) ₹ 31,999.00</h5>
        </div>
      </div>
    </div>
  </div>
</div>
